/Machine_learning/API/__pycache__
/Machine_learning/AudioDepressionDetection/AudioFeatures/AudioFiles/TestAudio.mp3
/Machine_learning/SpeechEmotionRecognitionML/Dataset
/Machine_learning/SpeechEmotionRecognitionML/best_model_v2.0.h5
/Machine_learning/SpeechEmotionRecognitionML/best_model_v2.1.h5
/Machine_learning/SpeechEmotionRecognitionML/best_model_v2.2.h5
/Machine_learning/SpeechEmotionRecognitionML/best_model_v2.3.h5
/Machine_learning/API/src